<!--begin::Content container-->
<div id="kt_app_content_container" class="app-container container-xxl">
    <div class="flex-lg-row-fluid ms-lg-15">
    <!--begin::Tasks-->
    <div class="card card-flush mb-6 mb-xl-9">
        <!--begin::Card header-->
        <div class="card-header mt-6">
        <!--begin::Card title-->
        <div class="card-title flex-column">
        <h2 class="mb-1">Notes</h2>
        <div class="fs-6 fw-semibold text-muted">Total {{ noteList.length }} Notes Enregistrées</div>
        </div>
        <!--end::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar" >
            <button type="button" class="btn btn-light-primary btn-sm" data-bs-toggle="modal" data-bs-target="#kt_modal_add_task" *ngIf="hideSpecificFields">
                <!--begin::Svg Icon | path: icons/duotune/files/fil005.svg-->
                <span class="svg-icon svg-icon-3">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3" d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM16 13.5L12.5 13V10C12.5 9.4 12.6 9.5 12 9.5C11.4 9.5 11.5 9.4 11.5 10L11 13L8 13.5C7.4 13.5 7 13.4 7 14C7 14.6 7.4 14.5 8 14.5H11V18C11 18.6 11.4 19 12 19C12.6 19 12.5 18.6 12.5 18V14.5L16 14C16.6 14 17 14.6 17 14C17 13.4 16.6 13.5 16 13.5Z" fill="currentColor" />
                <rect x="11" y="19" width="10" height="2" rx="1" transform="rotate(-90 11 19)" fill="currentColor" />
                <rect x="7" y="13" width="10" height="2" rx="1" fill="currentColor" />
                <path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="currentColor" />
                </svg>
                </span>
                <!--end::Svg Icon-->Ajouter Note</button>
        </div>

        <!--end::Card toolbar-->
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
      
                <div class="tab-content bg-transparent">
                    <div id="note-full-container" class="note-has-grid row">
                        <div class="col-md-4 single-note-item all-category"  *ngFor="let note of noteList.slice((p-1)*9, (p-1)*9+3)" >
                            <div class="card card-body">
                                <span class="side-stick"></span>
                                <h5 class="note-title text-truncate w-75 mb-0" data-noteheading="Go for lunch">{{note.commentaire}} <i class="point fa fa-circle ml-1 font-10"></i></h5>
                                <p class="note-date font-12 text-muted">{{note.updated_at}}</p>
                                <div class="note-content">
                                <button (click)="openDialog('http://127.0.0.1:8000/uploads/Fichiers/'+note.fichier)">Fichiers</button>
                               </div>
                               
                                <div class="d-flex align-items-center">
                                    
                                    <div class="ml-auto">
                                        <div class="category-selector btn-group">
                                            <a class="nav-link dropdown-toggle category-dropdown label-group p-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                                                <div class="category">
                                                    <div class="category-business"></div>
                                                    <div class="category-social"></div>
                                                    <div class="category-important"></div>
                                                    <span class="more-options text-dark"><i class="icon-options-vertical"></i></span>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right category-menu">
                                                <a class="note-business badge-group-item badge-business dropdown-item position-relative category-business text-success" href="javascript:void(0);">
                                                    <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i>Business
                                                </a>
                                                <a class="note-social badge-group-item badge-social dropdown-item position-relative category-social text-info" href="javascript:void(0);">
                                                    <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i> Social
                                                </a>
                                                <a class="note-important badge-group-item badge-important dropdown-item position-relative category-important text-danger" href="javascript:void(0);">
                                                    <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i> Important
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
              </div> <pagination-controls 
              (pageChange)="currentPage = $event"
              previousLabel="Précédent"
              nextLabel="Suivant">
            </pagination-controls>
            </div>
        
        <!--end::Card body-->
        </div>
        <!--end::Tasks-->
     <!--begin::Modal - Add schedule-->
<div class="modal fade" id="kt_modal_add_schedule" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header">
                <!--begin::Modal title-->
                <h2 class="fw-bold">Ajouter un rappel</h2>
                <!--end::Modal title-->
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                <!--begin::Form-->
                <form id="kt_modal_add_schedule_form" class="form" action="#">
                    <!--begin::Input group-->
                    <div class="fv-row mb-7">
                        <!--begin::Label-->
                        <label class="required fs-6 fw-semibold form-label mb-2">Type de promesse</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input type="text" class="form-control form-control-solid" name="event_name" value="" />
                        <!--end::Input-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="fv-row mb-7">
                        <!--begin::Label-->
                        <label class="fs-6 fw-semibold form-label mb-2">
                            <span class="required">Date & Temps</span>
                            <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-html="true" data-bs-content="Select a date & time."></i>
                        </label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input class="form-control form-control-solid" placeholder="Pick date & time" name="event_datetime" id="kt_modal_add_schedule_datepicker" />
                        <!--end::Input-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="fv-row mb-7">
                        <!--begin::Label-->
                        <label class="required fs-6 fw-semibold form-label mb-2">Montant</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input type="text" class="form-control form-control-solid" name="event_org" value="" />
                        <!--end::Input-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="fv-row mb-7">
                        <!--begin::Label-->
                        <label class="required fs-6 fw-semibold form-label mb-2">Envoyer rappel pour</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input id="kt_modal_add_schedule_tagify" type="text" class="form-control form-control-solid" name="event_invitees" value="foulen@gmail.com" />
                        <!--end::Input-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Actions-->
                    <div class="text-center pt-15">
                        <button type="reset" class="btn btn-light me-3" data-kt-users-modal-action="cancel" >Annuler</button>
                        <button type="submit" class="btn btn-primary" data-kt-users-modal-action="submit">
                            <span class="indicator-label">Enregistrer</span>
                            <span class="indicator-progress">Please wait...
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        </button>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<!--end::Modal - Add schedule-->
        <!--begin::Modal - Add task-->
        <div class="modal fade" id="kt_modal_add_task" tabindex="-1" aria-hidden="true">
        <!--begin::Modal dialog-->
        <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content">
        <!--begin::Modal header-->
        <div class="modal-header">
        <!--begin::Modal title-->
        <h2 class="fw-bold">Ajouter Notes</h2>
        <!--end::Modal title-->
        <!--begin::Close-->
        <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close">
        <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
        <span class="svg-icon svg-icon-1">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
        <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
        </svg>
        </span>
        <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
        </div>
        <!--end::Modal header-->
        <!--begin::Modal body-->
        <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
            <form id="kt_modal_add_task_form" class="form" [formGroup]="myForm" (submit)="Submit()" enctype="multipart/form-data">
                <!-- Commentaires -->
                <div class="fv-row mb-7">
                  <label class="fs-6 fw-semibold form-label mb-2">Commentaires</label>
                  <textarea class="form-control form-control-solid rounded-3" formControlName="commentaire"></textarea>
                </div>
                
                <!-- Pièces Jointes -->
                <div class="fv-row mb-7">
                  <label class="required fs-6 fw-semibold form-label mb-2">Pièces Jointes</label>
                  <input type="file" class="form-control form-control-solid" formControlName="fichier" (change)="onFileSelected($event,'fichier')" />
                </div>
                
                <!-- Jugement -->
                <div class="fv-row mb-7"  *ngIf="role.includes('Centre D\'appel')">
                  <label class="required fs-6 fw-semibold form-label mb-2">Jugement</label>
                  <input type="file" class="form-control form-control-solid" formControlName="jugement" (change)="onFileSelected($event,'jugement')" />
                </div>
                
                <!-- PV Execution -->
                <div class="fv-row mb-7">
                  <label class="required fs-6 fw-semibold form-label mb-2">PV Execution</label>
                  <input type="file" class="form-control form-control-solid" formControlName="pv_execution" (change)="onFileSelected($event,'pv_execution')" />
                </div>
                
                <!-- PV Creance -->
                <div class="fv-row mb-7"  *ngIf="role.includes('Banque')">
                  <label class="required fs-6 fw-semibold form-label mb-2" >PV Creance</label>
                  <input type="file" class="form-control form-control-solid" formControlName="pv_creance" (change)="onFileSelected($event,'pv_creance')" />
                </div>
                
                <!-- Enregistrement vocal -->
                <div class="fv-row mb-7" *ngIf="role.includes('Centre D\'appel')">
                  <label class="required fs-6 fw-semibold form-label mb-2" >Enregistrement vocal</label>
                  <input type="file" class="form-control form-control-solid" formControlName="enregistrement"  (change)="onFileSelected($event,'enregistrement') " />
                </div>
                
                <!-- Actions -->
                <div class="text-center pt-15">
                  <button type="reset" class="btn btn-light me-3" data-kt-users-modal-action="cancel">Annuler</button>
                  <button type="submit" class="btn btn-primary" data-kt-users-modal-action="submit">
                    <span class="indicator-label">Enregistrer</span>
                    <span class="indicator-progress">Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                  </button>
                </div>
              </form>
        </div>
        <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
        </div>
        <!--end::Modal dialog-->
        </div>
        <!--end::Modal - Add task-->
        </div>
        </div>

     