 <!--begin::Content container-->
 <div id="kt_app_content_container" class="app-container container-xxl">
    <div class="flex-lg-row-fluid ms-lg-15">
<!--begin::Card-->
<div class="card card-flush mb-6 mb-xl-9">
    <!--begin::Card header-->
    <div class="card-header mt-6">
    <!--begin::Card title-->
    <div class="card-title flex-column">
    <h2 class="mb-1">Calendrier</h2>
    <div class="fs-6 fw-semibold text-muted">2 upcoming calls</div>
    </div>
    <!--end::Card title-->
    <!--begin::Card toolbar-->
    <div class="card-toolbar">
    <button type="button" class="btn btn-light-primary btn-sm" data-bs-toggle="modal" data-bs-target="#kt_modal_add_schedule">
    <!--SVG file not found: media/icons/duotune/art/art008.svg-->
    Ajouter événement</button>
    </div>
    <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body p-9 pt-4">
    <!--begin::Dates-->
    <ul class="nav nav-pills d-flex flex-nowrap hover-scroll-x py-2">
    <!--begin::Date-->
    <li class="nav-item me-1">
    <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_0">
    <span class="opacity-50 fs-7 fw-semibold">Su</span>
    <span class="fs-6 fw-bolder">21</span>
    </a>
    </li>
    <!--end::Date-->
    <!--begin::Date-->
    <li class="nav-item me-1">
    <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary active" data-bs-toggle="tab" href="#kt_schedule_day_1">
    <span class="opacity-50 fs-7 fw-semibold">Mo</span>
    <span class="fs-6 fw-bolder">22</span>
    </a>
    </li>
    <!--end::Date-->
    <!--begin::Date-->
    <li class="nav-item me-1">
    <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_2">
    <span class="opacity-50 fs-7 fw-semibold">Tu</span>
    <span class="fs-6 fw-bolder">23</span>
    </a>
    </li>
    <!--end::Date-->
    <!--begin::Date-->
    <li class="nav-item me-1">
    <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_3">
    <span class="opacity-50 fs-7 fw-semibold">We</span>
    <span class="fs-6 fw-bolder">24</span>
    </a>
    </li>
    <!--end::Date-->
    <!--begin::Date-->
    <li class="nav-item me-1">
    <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_4">
    <span class="opacity-50 fs-7 fw-semibold">Th</span>
    <span class="fs-6 fw-bolder">25</span>
    </a>
    </li>
    <!--end::Date-->
    <!--begin::Date-->
    <li class="nav-item me-1">
    <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_5">
    <span class="opacity-50 fs-7 fw-semibold">Fr</span>
    <span class="fs-6 fw-bolder">26</span>
    </a>
    </li>
    <!--end::Date-->
    <!--begin::Date-->
    <li class="nav-item me-1">
    <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_6">
    <span class="opacity-50 fs-7 fw-semibold">Sa</span>
    <span class="fs-6 fw-bolder">27</span>
    </a>
    </li>
    <!--end::Date-->
    <!--begin::Date-->
    <li class="nav-item me-1">
    <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_7">
    <span class="opacity-50 fs-7 fw-semibold">Su</span>
    <span class="fs-6 fw-bolder">28</span>
    </a>
    </li>
    <!--end::Date-->
    <!--begin::Date-->
    <li class="nav-item me-1">
    <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_8">
    <span class="opacity-50 fs-7 fw-semibold">Mo</span>
    <span class="fs-6 fw-bolder">29</span>
    </a>
    </li>
    <!--end::Date-->
    <!--begin::Date-->
    <li class="nav-item me-1">
    <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_9">
    <span class="opacity-50 fs-7 fw-semibold">Tu</span>
    <span class="fs-6 fw-bolder">30</span>
    </a>
    </li>
    <!--end::Date-->
    <!--begin::Date-->
    <li class="nav-item me-1">
    <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-40px me-2 py-4 btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_10">
    <span class="opacity-50 fs-7 fw-semibold">We</span>
    <span class="fs-6 fw-bolder">31</span>
    </a>
    </li>
    <!--end::Date-->
    </ul>
    <!--end::Dates-->
    <!--begin::Tab Content-->
    <div class="tab-content">
    <!--begin::Day-->
    <div id="view_call_center_tab" class="tab-pane fade show">
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">11:00 - 11:45
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Creative Content Initiative</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Kendell Trevor</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">14:30 - 15:30
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Marketing Campaign Discussion</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Yannis Gloverson</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">16:30 - 17:30
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Lunch & Learn Catch Up</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Mark Randall</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">11:00 - 11:45
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Team Backlog Grooming Session</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Kendell Trevor</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    </div>
    <!--end::Day-->
    <!--begin::Day-->
    <div id="kt_schedule_day_1" class="tab-pane fade show active">
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">12:30 - 13:30
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Promesse Impayé 013874</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Montant
    <a href="#">10.000 <DT></DT> </a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">Afficher</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">12:00 - 13:00
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Rappel Impayé 01895</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Montant
    <a href="#">50.000 DT</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">Afficher</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">14:30 - 15:30
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Rappel Impayé 025531</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Montant
    <a href="#">8000 DT</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">Afficher</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    </div>
    <!--end::Day-->
    <!--begin::Day-->
    <div id="kt_schedule_day_2" class="tab-pane fade show">
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">9:00 - 10:00
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Project Review & Testing</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Bob Harris</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">11:00 - 11:45
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Weekly Team Stand-Up</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Mark Randall</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">13:00 - 14:00
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Development Team Capacity Review</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Walter White</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    </div>
    <!--end::Day-->
    <!--begin::Day-->
    <div id="kt_schedule_day_3" class="tab-pane fade show">
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">13:00 - 14:00
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">9 Degree Project Estimation Meeting</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">David Stevenson</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">11:00 - 11:45
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Team Backlog Grooming Session</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Sean Bean</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">12:00 - 13:00
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Lunch & Learn Catch Up</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">David Stevenson</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">13:00 - 14:00
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Weekly Team Stand-Up</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Naomi Hayabusa</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    </div>
    <!--end::Day-->
    <!--begin::Day-->
    <div id="kt_schedule_day_4" class="tab-pane fade show">
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">16:30 - 17:30
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">9 Degree Project Estimation Meeting</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Mark Randall</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">12:00 - 13:00
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Lunch & Learn Catch Up</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Yannis Gloverson</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">11:00 - 11:45
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Committee Review Approvals</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Karina Clarke</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    </div>
    <!--end::Day-->
    <!--begin::Day-->
    <div id="kt_schedule_day_5" class="tab-pane fade show">
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">9:00 - 10:00
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">9 Degree Project Estimation Meeting</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Kendell Trevor</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">12:00 - 13:00
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Sales Pitch Proposal</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Yannis Gloverson</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">16:30 - 17:30
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Project Review & Testing</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Mark Randall</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    </div>
    <!--end::Day-->
    <!--begin::Day-->
    <div id="kt_schedule_day_6" class="tab-pane fade show">
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">9:00 - 10:00
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Marketing Campaign Discussion</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">David Stevenson</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">11:00 - 11:45
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">9 Degree Project Estimation Meeting</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Bob Harris</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">10:00 - 11:00
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Lunch & Learn Catch Up</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Walter White</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">11:00 - 11:45
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Lunch & Learn Catch Up</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Walter White</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">11:00 - 11:45
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Sales Pitch Proposal</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">David Stevenson</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    </div>
    <!--end::Day-->
    <!--begin::Day-->
    <div id="kt_schedule_day_7" class="tab-pane fade show">
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">11:00 - 11:45
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Marketing Campaign Discussion</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Bob Harris</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">11:00 - 11:45
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Weekly Team Stand-Up</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Sean Bean</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">12:00 - 13:00
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Lunch & Learn Catch Up</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">David Stevenson</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">10:00 - 11:00
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Project Review & Testing</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Terry Robins</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    </div>
    <!--end::Day-->
    <!--begin::Day-->
    <div id="kt_schedule_day_8" class="tab-pane fade show">
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">9:00 - 10:00
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">9 Degree Project Estimation Meeting</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Walter White</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">14:30 - 15:30
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Development Team Capacity Review</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Mark Randall</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">16:30 - 17:30
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Committee Review Approvals</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Naomi Hayabusa</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">16:30 - 17:30
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Creative Content Initiative</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Walter White</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">10:00 - 11:00
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">9 Degree Project Estimation Meeting</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Michael Walters</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    </div>
    <!--end::Day-->
    <!--begin::Day-->
    <div id="kt_schedule_day_9" class="tab-pane fade show">
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">13:00 - 14:00
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Lunch & Learn Catch Up</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Peter Marcus</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">12:00 - 13:00
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Project Review & Testing</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Bob Harris</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">11:00 - 11:45
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Marketing Campaign Discussion</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Mark Randall</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">11:00 - 11:45
    <span class="fs-7 text-muted text-uppercase">am</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Committee Review Approvals</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">David Stevenson</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    </div>
    <!--end::Day-->
    <!--begin::Day-->
    <div id="kt_schedule_day_10" class="tab-pane fade show">
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">14:30 - 15:30
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Lunch & Learn Catch Up</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Yannis Gloverson</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">16:30 - 17:30
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Sales Pitch Proposal</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Sean Bean</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">12:00 - 13:00
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Project Review & Testing</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Peter Marcus</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    <!--begin::Time-->
    <div class="d-flex flex-stack position-relative mt-6">
    <!--begin::Bar-->
    <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
    <!--end::Bar-->
    <!--begin::Info-->
    <div class="fw-semibold ms-5">
    <!--begin::Time-->
    <div class="fs-7 mb-1">14:30 - 15:30
    <span class="fs-7 text-muted text-uppercase">pm</span></div>
    <!--end::Time-->
    <!--begin::Title-->
    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary mb-2">Development Team Capacity Review</a>
    <!--end::Title-->
    <!--begin::User-->
    <div class="fs-7 text-muted">Lead by
    <a href="#">Walter White</a></div>
    <!--end::User-->
    </div>
    <!--end::Info-->
    <!--begin::Action-->
    <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
    <!--end::Action-->
    </div>
    <!--end::Time-->
    </div>
    <!--end::Day-->
    </div>
    <!--end::Tab Content-->
    </div>
    <!--end::Card body-->
    </div>
    <!--end::Card-->
    </div></div>