
.nav{
    background-color: #1e1e2d;
}
.label{
    color: white;
}
.radio{
    margin-left: 50px;
}
.success-notification {
    background-color: green !important;
    color: white !important;
  }
  
  /* Custom error notification color */
.error-notification {
    background-color: red;
    color: white;
  }
.ajout{
    color: white;
}
.form-popup,
.success-message {
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .5);
    transition: .5s;
}
.form-popup .form-wrapper {
    top: 2em;
    max-width: 700px;
    background: white;
    padding: 50px;
    padding-top: 50px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.form-title {
    margin-bottom: 20px;
    text-transform: uppercase;
}
.close-form {
    border-radius: 0px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    cursor: pointer;
    padding: 10px 30px;
    background-color: #83b566;
    border: 2px solid #83b566;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    transition: .3s;
}
.send-form {
    cursor: pointer;
    padding: 10px 30px;
    background-color: #83b566;
    border: 2px solid #83b566;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    transition: .3s;
}
.form-control:focus {
    border-color: #83b566;
    box-shadow: 0 0 0 0.2rem rgba(131, 181, 102, 0.25);
}
.btn:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
}
.success-message {
    text-align: center;
}
.success-message h1 {
    color: #ffffff;
    margin-top: 3em;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
.step-number {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
  }
  :root {
	--sample-gap: 20px;
}

:host {
	display: block;
	padding: var(--sample-gap);
}

.sample-split,
.sample-step-actions {
	display: flex;
	gap: var(--sample-gap);
}

.sample-step-actions {
	margin-top: calc(var(--sample-gap) * 2);
}

.sample-split > * {
	max-width: 380px;
	flex: 1;
}

.sample-split {
	margin-bottom: var(--sample-gap);
}

form > * {
	margin-bottom: calc(var(--sample-gap) / 2);
}

form {
	margin-bottom: var(--sample-gap);
}

igx-radio {
	margin-bottom: var(--sample-gap);
}
.mat-form-field{
    width: 100%;
}
.btn-warning{
    background-color: blue;
}
.champleft{
    margin-left: 190px;
}
.champright{
    margin-left: 250px;
}
.champcenter{

    margin-left: 425px;
}
.btn-close{
    color: #2596be;
}
.labelpop{
    color: white ;
    font-size: 20px;
}

[data-bs-theme=dark] {
    --bs-app-header-base-menu-link-bg-color-active: #2A2A3C;
    --bs-app-header-light-separator-color: #2B2B40;
    --bs-app-sidebar-base-toggle-btn-box-shadow: none;
    --bs-app-sidebar-base-toggle-btn-bg-color: #2A2A3C;
    --bs-app-sidebar-light-bg-color: #1e1e2d;
    --bs-app-sidebar-light-box-shadow: none;
    --bs-app-sidebar-light-separator-color: #2B2B40;
    --bs-app-sidebar-light-scrollbar-color: #2B2B40;
    --bs-app-sidebar-light-scrollbar-color-hover: #2B2B40;
    --bs-app-sidebar-light-menu-heading-color: #565674;
    --bs-app-sidebar-light-menu-link-bg-color-active: #2A2A3C;
    --bs-app-sidebar-light-header-menu-link-bg-color-active: #1b1b29;
}
[data-bs-theme=dark] {
    --bs-app-bg-color: #151521;
    --bs-app-blank-bg-color: #151521;
    --bs-app-header-base-bg-color: #1e1e2d;
    --bs-app-header-base-box-shadow: none;
    --bs-app-toolbar-base-bg-color: #1a1a27;
    --bs-app-toolbar-base-box-shadow: none;
    --bs-app-toolbar-base-border-top: 0;
    --bs-app-footer-bg-color: #1e1e2d;
    --bs-app-footer-box-shadow: none;
}
[data-bs-theme=dark] {
    --bs-text-muted: #565674;
    --bs-gray-100: #1b1b29;
    --bs-gray-100-rgb: 27, 27, 41;
    --bs-gray-200: #2B2B40;
    --bs-gray-200-rgb: 43, 43, 64;
    --bs-gray-300: #323248;
    --bs-gray-300-rgb: 50, 50, 72;
    --bs-gray-400: #474761;
    --bs-gray-400-rgb: 71, 71, 97;
    --bs-gray-500: #565674;
    --bs-gray-500-rgb: 86, 86, 116;
    --bs-gray-600: #6D6D80;
    --bs-gray-600-rgb: 109, 109, 128;
    --bs-gray-700: #92929F;
    --bs-gray-700-rgb: 146, 146, 159;
    --bs-gray-800: #CDCDDE;
    --bs-gray-800-rgb: 205, 205, 222;
    --bs-gray-900: #FFFFFF;
    --bs-gray-900-rgb: 255, 255, 255;
    --bs-white: #ffffff;
    --bs-light: #2B2B40;
    --bs-primary: #009ef7;
    --bs-success: #50cd89;
    --bs-info: #7239ea;
    --bs-warning: #ffc700;
    --bs-danger: #f1416c;
    --bs-dark: #FFFFFF;
    --bs-secondary: #323248;
    --bs-primary-active: #0095e8;
    --bs-secondary-active: #474761;
    --bs-light-active: #323248;
    --bs-success-active: #47be7d;
    --bs-info-active: #5014d0;
    --bs-warning-active: #f1bc00;
    --bs-danger-active: #d9214e;
    --bs-dark-active: white;
    --bs-primary-light: #212e48;
    --bs-success-light: #1c3238;
    --bs-info-light: #2f264f;
    --bs-warning-light: #392f28;
    --bs-danger-light: #3a2434;
    --bs-dark-light: #2B2B40;
    --bs-secondary-light: #1b1b29;
    --bs-primary-inverse: #ffffff;
    --bs-secondary-inverse: #92929F;
    --bs-light-inverse: #7E8299;
    --bs-success-inverse: #ffffff;
    --bs-info-inverse: #ffffff;
    --bs-warning-inverse: #ffffff;
    --bs-danger-inverse: #ffffff;
    --bs-dark-inverse: #1b1b29;
    --bs-white-rgb: 255, 255, 255;
    --bs-light-rgb: 43, 43, 64;
    --bs-primary-rgb: 0, 158, 247;
    --bs-success-rgb: 80, 205, 137;
    --bs-info-rgb: 114, 57, 234;
    --bs-warning-rgb: 255, 199, 0;
    --bs-danger-rgb: 241, 65, 108;
    --bs-dark-rgb: 255, 255, 255;
    --bs-secondary-rgb: 50, 50, 72;
    --bs-text-white: #ffffff;
    --bs-text-primary: #009ef7;
    --bs-text-secondary: #323248;
    --bs-text-light: #2B2B40;
    --bs-text-success: #50cd89;
    --bs-text-info: #7239ea;
    --bs-text-warning: #ffc700;
    --bs-text-danger: #f1416c;
    --bs-text-dark: #FFFFFF;
    --bs-text-muted: #565674;
    --bs-text-gray-100: #1b1b29;
    --bs-text-gray-200: #2B2B40;
    --bs-text-gray-300: #323248;
    --bs-text-gray-400: #474761;
    --bs-text-gray-500: #565674;
    --bs-text-gray-600: #6D6D80;
    --bs-text-gray-700: #92929F;
    --bs-text-gray-800: #CDCDDE;
    --bs-text-gray-900: #FFFFFF;
    --bs-border-color: #2B2B40;
    --bs-border-dashed-color: #323248;
    --bs-component-active-color: #ffffff;
    --bs-component-active-bg: #009ef7;
    --bs-component-hover-color: #009ef7;
    --bs-component-hover-bg: #2B2B40;
    --bs-component-checked-color: #ffffff;
    --bs-component-checked-bg: #009ef7;
    --bs-box-shadow-xs: 0 0.1rem 0.75rem 0.25rem rgba(0, 0, 0, 0.05);
    --bs-box-shadow-sm: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
    --bs-box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
    --bs-box-shadow-lg: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.1);
    --bs-tooltip-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    --bs-card-box-shadow: ;
    --bs-table-striped-bg: rgba(27, 27, 41, 0.75);
    --bs-dropdown-bg: #1e1e2d;
    --bs-dropdown-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    --bs-code-bg: #2B2B40;
    --bs-code-box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
    --bs-code-color: #b93993;
    --bs-symbol-label-color: #CDCDDE;
    --bs-symbol-label-bg: #1b1b29;
    --bs-symbol-border-color: rgba(255, 255, 255, 0.5);
    --bs-bullet-bg-color: #474761;
    --bs-scrolltop-opacity: 0;
    --bs-scrolltop-opacity-on: 0.3;
    --bs-scrolltop-opacity-hover: 1;
    --bs-scrolltop-box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
    --bs-scrolltop-bg-color: #009ef7;
    --bs-scrolltop-bg-color-hover: #009ef7;
    --bs-scrolltop-icon-color: #ffffff;
    --bs-scrolltop-icon-color-hover: #ffffff;
    --bs-drawer-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    --bs-drawer-bg-color: #1e1e2d;
    --bs-drawer-overlay-bg-color: rgba(0, 0, 0, 0.4);
    --bs-menu-dropdown-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    --bs-menu-dropdown-bg-color: #1e1e2d;
    --bs-menu-heading-color: #565674;
    --bs-menu-link-color-hover: #009ef7;
    --bs-menu-link-color-show: #009ef7;
    --bs-menu-link-color-here: #009ef7;
    --bs-menu-link-color-active: #009ef7;
    --bs-menu-link-bg-color-hover: #2B2B40;
    --bs-menu-link-bg-color-show: #2B2B40;
    --bs-menu-link-bg-color-here: #2B2B40;
    --bs-menu-link-bg-color-active: #2B2B40;
    --bs-scrollbar-color: #2B2B40;
    --bs-scrollbar-hover-color: #27273a;
    --bs-overlay-bg: rgba(255, 255, 255, 0.05);
    --bs-blockui-overlay-bg: rgba(255, 255, 255, 0.05);
    --bs-rating-color-default: #474761;
    --bs-rating-color-active: #FFAD0F;
    --bs-ribbon-label-box-shadow: 0px -1px 5px 0px rgba(255, 255, 255, 0.1);
    --bs-ribbon-label-bg: #009ef7;
    --bs-ribbon-label-border-color: #005d91;
    --bs-ribbon-clip-bg: #F9F9F9;
    --bs-engage-btn-bg: #2B2B40;
    --bs-engage-btn-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    --bs-engage-btn-border-color: #2B2B40;
    --bs-engage-btn-color: #CDCDDE;
    --bs-engage-btn-icon-color: #6D6D80;
    --bs-engage-btn-color-active: #CDCDDE;
}
[data-bs-theme=dark] {
    --bs-body-color: #FFFFFF;
    --bs-body-color-rgb: 255, 255, 255;
    --bs-body-bg: #1e1e2d;
    --bs-body-bg-rgb: 30, 30, 45;
    --bs-emphasis-color: #F9F9F9;
    --bs-emphasis-color-rgb: 249, 249, 249;
    --bs-secondary-color: rgba(255, 255, 255, 0.75);
    --bs-secondary-color-rgb: 255, 255, 255;
    --bs-secondary-bg: #3F4254;
    --bs-secondary-bg-rgb: 63, 66, 84;
    --bs-tertiary-color: rgba(255, 255, 255, 0.5);
    --bs-tertiary-color-rgb: 255, 255, 255;
    --bs-tertiary-bg: #2c2f43;
    --bs-tertiary-bg-rgb: 44, 47, 67;
    --bs-emphasis-color: #ffffff;
    --bs-primary-text: #6ea8fe;
    --bs-secondary-text: #E1E3EA;
    --bs-success-text: #75b798;
    --bs-info-text: #6edff6;
    --bs-warning-text: #ffda6a;
    --bs-danger-text: #ea868f;
    --bs-light-text: #F9F9F9;
    --bs-dark-text: #E1E3EA;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #181C32;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #3F4254;
    --bs-dark-bg-subtle: #20212a;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #5E6278;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #055160;
    --bs-warning-border-subtle: #664d03;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #5E6278;
    --bs-dark-border-subtle: #3F4254;
    --bs-heading-color: #FFFFFF;
    --bs-link-color: #009ef7;
    --bs-link-hover-color: #9ec5fe;
    --bs-link-color-rgb: 0, 158, 247;
    --bs-link-hover-color-rgb: 158, 197, 254;
    --bs-code-color: #b93993;
    --bs-border-color: #2B2B40;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
}
[data-bs-theme=dark] {
    --bs-prismjs-bg: #151521;
    --bs-prismjs-border: rgba(255, 255, 255, 0.1);
    --bs-prismjs-btn-bg: #27273d;
    --bs-prismjs-btn-bg-hover: #27273d;
    --bs-prismjs-btn-color: rgba(255, 255, 255, 0.75);
    --bs-prismjs-btn-color-hover: #009ef7;
    --bs-prismjs-scrollbar-color: #2d2d46;
    --bs-prismjs-scrollbar-color-hover: #333350;
}
.form-group.row > .col {
    display: inline-block;
    vertical-align: top;
}

.form-group.row > .col label {
    margin-top: 8px;
}

.form-group.row > .col:first-child input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-group.row > .col:last-child input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.option{
   margin-left: 70px;
    color: white;
}
