
<div class="col-md-6 mx-3">
    <app-navbar></app-navbar>
  </div><!--
  --><div class=" mt-18"><!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl">
        <!--begin::Careers - Apply-->
        <div class="card">
            <!--begin::Body-->
            <div class="card-body p-lg-17">
                <!--begin::Hero-->
                <div class="position-relative mb-17">
                    <!--begin::Overlay-->
                    <div class="overlay overlay-show">
                        <!--begin::Image-->
                        <div class="bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-250px" style="background-image:url('assets/media/logos/trythis.PNG')"></div>
                        <!--end::Image-->
                        <!--begin::layer-->
                        <div class="overlay-layer rounded bg-black" style="opacity: 0.2"></div>
                        <!--end::layer-->
                    </div>
                    <!--end::Overlay-->
                    <!--begin::Heading-->
                    <div class="position-absolute text-white mb-8 ms-10 "  style="bottom: 70px;">
                        <!--begin::Title-->
                        <h3 class="text-white fs-2qx fw-bold mb-3 m">Ajouter Impayée</h3>
                        <!--end::Title-->
                        <!--begin::Text-->
                        <div class="fs-5 fw-semibold">le recouvrement c'est notre affaire.</div>
                        <!--end::Text-->
                    </div>
                    <!--end::Heading-->
                </div>
                <!--end::-->
                <!--begin::Layout-->
                <div class="d-flex flex-column flex-lg-row mb-17">
                    <!--begin::Content-->
                    <div class="flex-lg-row-fluid me-0 me-lg-20">
                        <!--begin::Form-->
                        <form action="m-0" class="form mb-15" method="post" id="kt_careers_form">
                            <!--begin::Input group-->
                            <div class="row mb-5">
                                <!--begin::Col-->
                                <div class="col-md-6 fv-row">
                                    <!--begin::Label-->
                                    <label class="required fs-5 fw-semibold mb-2">Nom</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" class="form-control form-control-solid" placeholder="" name="Nom" style="background-color: rgba(128, 128, 128, 0.288);"/>
                                    <!--end::Input-->
                                </div>
                                <!--end::Col-->
                                <!--begin::Col-->
                                <div class="col-md-6 fv-row">
                                    <!--end::Label-->
                                    <label class="required fs-5 fw-semibold mb-2">Prenom</label>
                                    <!--end::Label-->
                                    <!--end::Input-->
                                    <input type="text" class="form-control form-control-solid" placeholder="" name="Prenom" style="background-color: rgba(128, 128, 128, 0.288);"/>
                                    <!--end::Input-->
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="row mb-5">
                                <!--begin::Col-->
                                <div class="col-md-6 fv-row">
                                    <!--begin::Label-->
                                    <label class="required fs-5 fw-semibold mb-2">Cin</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input  type="number" class="form-control form-control-solid" placeholder="" name="Cin" style="background-color: rgba(128, 128, 128, 0.288);"/>
                                    <!--end::Input-->
                                </div>
                                <!--end::Col-->
                                <!--begin::Col-->
                                <div class="col-md-6 fv-row">
                                    <!--end::Label-->
                                    <label class="fs-5 fw-semibold mb-2">Montant Creances</label>
                                    <!--end::Label-->
                                    <!--end::Input-->
                                    <input type="number" class="form-control form-control-solid" placeholder="" name="MontantCreances" style="background-color: rgba(128, 128, 128, 0.288);"/>
                                    <!--end::Input-->
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="row mb-5">
                                <!--begin::Col-->
                                <div class="col-md-6 fv-row">
                                    <!--begin::Label-->
                                    <label class="required fs-5 fw-semibold mb-2">Justificatif Creances</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="file" class="form-control form-control-solid" placeholder="" name="JustificatifCreances" style="background-color: rgba(128, 128, 128, 0.288);"/>
                                    <!--end::Input-->
                                </div>
                                <!--end::Col-->
                                <!--begin::Col-->
                                <div class="col-md-6 fv-row">
                                    <!--end::Label-->
                                    <label class="required fs-5 fw-semibold mb-2">Nombre Echeances</label>
                                    <!--end::Label-->
                                    <!--end::Input-->
                                    <input type="number" class="form-control form-control-solid" placeholder="" name="NombreEcheances" style="background-color: rgba(128, 128, 128, 0.288);"/>
                                    <!--end::Input-->
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                          
                            <!--begin::Input group-->
                            <div class="row mb-5">
                                <!--begin::Col-->
                                <div class="col-md-6 fv-row">
                                    <!--begin::Label-->
                                    <label class="required fs-5 fw-semibold mb-2">Montant Echeances</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="number" class="form-control form-control-solid" placeholder="" name="Montant Echeances" style="background-color: rgba(128, 128, 128, 0.288);"/>
                                    <!--end::Input-->
                                </div>
                                <!--end::Col-->
                                <!--begin::Col-->
                                <div class="col-md-6 fv-row">
                                    <!--end::Label-->
                                    <label class="required fs-5 fw-semibold mb-2">Numero Tel </label>
                                    <!--end::Label-->
                                    <!--end::Input-->
                                    <input type="tel" class="form-control form-control-solid" placeholder="" name="NumeroTel"style="background-color: rgba(128, 128, 128, 0.288);"/>
                                    <!--end::Input-->
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="d-flex flex-column mb-5 fv-row">
                                <!--begin::Label-->
                                <label class="fs-5 fw-semibold mb-2">Adresse</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" placeholder="" name="Adresse"style="background-color: rgba(128, 128, 128, 0.288);" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="d-flex flex-column mb-5">
                                <label class="fs-6 fw-semibold mb-2">Mail</label>
                                <input  type="email"class="form-control form-control-solid" rows="2" name="experience" placeholder="" style="background-color: rgba(128, 128, 128, 0.288);"/>
                            </div>
                            <!--end::Input group-->
                           <!--begin::Input group-->
														<div class="d-flex flex-column mb-5 fv-row">
															<!--begin::Label-->
															<label class="d-flex align-items-center fs-5 fw-semibold mb-2">
																<span class="required">Objet Creances</span>
																<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Your payment statements may very based on selected position"></i>
															</label>
															<!--end::Label-->
															<!--begin::Select-->
															<select name="position" data-control="select2" class="form-select form-select-solid" style="background-color: rgba(128, 128, 128, 0.288);">
																<option value="Web Developer" style="background-color: rgba(128, 128, 128, 0.288);">Check</option>
																<option value="Web Designer"style="background-color: rgba(128, 128, 128, 0.288);">Facture</option>
																<option value="Art Director"style="background-color: rgba(128, 128, 128, 0.288);">Traite</option>
																
															</select>
															<!--end::Select-->
														</div>
														<!--end::Input group-->
                            <!--begin::Separator-->
                            <div class="separator mb-8"></div>
                            <!--end::Separator-->
                            <!--begin::Submit-->
                            <button type="submit" class="btn btn-primary" id="kt_careers_submit_button" style="background-color: blue;">
                                <!--begin::Indicator label-->
                                <span class="indicator-label">Ajouter</span>
                                <!--end::Indicator label-->
                                <!--begin::Indicator progress-->
                                <span class="indicator-progress">Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                <!--end::Indicator progress-->
                            </button>
                            <!--end::Submit-->
                        </form>
                        <!--end::Form-->
                        </div></div></div></div></div></div>
</div>